@using GissaTaletMVC.Models
@model GissaTaletMVC.ViewModels.SecretNumberViewModel
@{
    ViewBag.Title = "Gissa talet";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>@Model.GetHeader()</h2>

@if (Model.LastGuessedNumber.Outcome != Outcome.Right)
{
    Html.RenderPartial("_Form");
}

<p>@Model.GetMessage(Model.LastGuessedNumber.Outcome)</p>

@if (Model.LastGuessedNumber.Outcome != Outcome.Undefined)
{
    Html.RenderPartial("_GuessHistory");
}